= link_to '<div class="btn-large">Create New Collection</div>'.html_safe, new_collection_path, class: 'right'

.content
	.collection-header
		.brand-row.row
			.col-100.brand>
				Gain Something
	.banner
		Ads here...

	.collection-container
		.collections
			= render @collections
		#paginator
			= link_to_next_page @collections, '<div class="btn-large">more collections</div>'.html_safe, remote: true