- print_collection_create_button(@collection)

.content
	.collection-header
		.brand-row.row
			.col-100.brand>
				Collk
	.banner
		Newest Collections

	.collection-container
		.collections
			= render(@collections)
		#paginator
			= link_to_next_page @collections, '<div class="btn-large">more collections</div>'.html_safe, remote: true