@import 'base/utils/__utils';

// define component placeholders for component contents (no selector here)
@include importOnce('roundButton') {
  %roundButton {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    // margin: 1em 1em 1em 0;
    // padding: 0.2em 0.6em;
    border-radius: 50%;
    overflow: hidden;
  }
}

@mixin roundButton($selector, $size: 32px, $font-size: 1.4em, $defaultSkin: true) {
  #{$selector} {
    @extend %roundButton;
    font-size: $font-size;
    width: $size;
    height: $size;
    line-height: $size - 2;
  }

  @if $defaultSkin != false {
    @include roundButton-skin-default($selector);
  }
  @else {
    @include roundButton-skin-noBorder($selector);
  }
}

// define component placeholders for component skin (no selector here)
@include importOnce('roundButton-skin-default') {
  %roundButton-skin-default {
    color: $white;
    border: 1px solid $white;
    opacity: 0.65;
    border-radius: 100%;
    box-shadow: 0 0 3px $grey;
  }

  %roundButton-skin-default__hovered {
    opacity: 1;
  }

  %roundButton-skin-noBorder {
    @extend %roundButton-skin-default;
    border: 0;
    box-shadow: none;
  }
}

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin roundButton-skin-default($selector) {

  #{$selector} {
    @extend %roundButton-skin-default;

    &:hover {
      @extend %roundButton-skin-default__hovered;
    }
  }
}

@mixin roundButton-skin-noBorder($selector) {
  #{$selector} {
    @extend %roundButton-skin-noBorder;

    &:hover {
      @extend %roundButton-skin-default__hovered;
    }
  }
}