#confirmDialog
  #confirmDialog_text
  #confirmDialog_buttons
    #confirmDialog_buttons_cancel
      .btn-small.btn-no
        Cancel
    #confirmDialog_buttons_confirm
      .btn-small.btn-yes
        Delete