#lightbox_player_wrapper
  #lightbox_next_prev_buttons
    - idx = (params[:idx] || 0).to_i
    = render partial: "partials/lightbox_next_prev_buttons", :locals => {idx: idx}
    
  
  #lightbox_player.prevent-quit
    = render partial: "partials/lightbox_#{@current_resource.mime}", :locals => {resource: @current_resource} if @current_resource.present?
  #lightbox_close_button.prevent-quit
    .btn-round.btn-close.btn-lightbox
      = icon('close')