#lightbox_display
  - if resource.thumbnail.present?
    #lightbox_left_container
      .display_image_container{style:"background-image:url(#{resource.thumbnail});"}
    #lightbox_text_container
      %h1#lightbox_title
        - print_title(resource, false)
      #lightbox_display_description
        = auto_link resource.description
  - else
    #lightbox_text_container
      %h1#lightbox_title
        - print_title(resource, false)
      #lightbox_display_description
        = auto_link resource.description