#menu.sideMenu
  %ul.scrollable
    -# %li.sideMenu_item
    -#  = link_to 'Home', root_path, class: 'sideMenu_link'
    - if current_user
      %li.sideMenu_item
        = link_to 'My collections', user_path(current_user.username), class: 'sideMenu_link'
      %li.sideMenu_item
        = link_to 'Log Out', destroy_user_session_path, method: 'DELETE', class: 'sideMenu_link'
    - else
      %li.sideMenu_item
        = link_to 'Log In', new_user_session_path, class: 'sideMenu_link'