.resourceList_item.deletable{id: "resource-#{resource.id}"}
  .row
    .icon-column
      - resource_icon(resource.mime)
    .resourceList_title.col-80>
      - link = resource.is_fulltext? ? collection_resource_path(@collection, resource) : resource.url
      - print_title(resource, link)
        
    .resourceList_tools.col-10
      - print_resource_tools(@collection, resource, resource_counter)
      
  - if resource.thumbnail.present? || resource.description.present?
    .resourceList_preview
      .icon-column
      - if resource.thumbnail.present?
        .resourceList_preview_thumbnails.col-20>
          - print_thumbnail_link(resource)
        - if resource.description.present?
          .inline-block.col-60>
            .resourceList_preview_digest
              - print_description(resource, link) unless resource.mime == 'photo'
      - elsif resource.description.present?
        .inline-block.col-80>
          .resourceList_preview_digest
            - link = resource.is_fulltext? ? collection_resource_path(resource.collection, resource) : resource.url
            - print_description(resource, link)