.row
	.col-100
		= link_to "Back to #{@course.name}", course_path(@course)
.row
	.col-100
		= @resource.description.html_safe
- if @resource.mime == 'video'
	#ytplayer{:"data-video-id" => @resource.third_party_id}