- html_title(@resource.title.first(50))
- html_description(@resource.description)
- cache @resource do
	.content{class: @resource.mime}
		.single-col
			.title.col-100
				- print_title(@resource)
		- if has_embedded_or_thumbnail?(@resource)
			.embed.col-100
				- print_embedded_or_thumbnail(@resource)
		%input{id:'desc-value', type:'hidden', value: get_description(@resource) }
		.description.col-100
			- if @resource.mime != 'text'
				= auto_link @resource.description