- if @resource.embedded_html.present?
  $("#lightbox .player .display").html("#{j(@resource.embedded_html.html_safe)}");
- elsif @resource.thumbnail.present?
  $("#lightbox .player .display").html("<img src=\"#{j(@resource.thumbnail)}\">");