@import 'base/utils/__utils';

// define component placeholders for component contents (no selector here)
@include importOnce('sideMenu') {
  $sideMenu-padding-top: 0;

  %sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: $sideMenu-padding-top 0 0 0;
    z-index: 100;
  }

  %sideMenu_item {
    display: inline-block;
    padding: 10px 25px;
    font-size: 1.4em;
  }
}

@mixin sideMenu($selector, $defaultSkin: true) {

  #{$selector} {
    @extend %sideMenu;
  }

  #{$selector}_item {
    @extend %sideMenu_item;
  }

  @if $defaultSkin != false {
    @include sideMenu-skin-default($selector);
  }
}

// define component placeholders for component skin (no selector here)
@include importOnce('sideMenu-skin-default') {
  %sideMenu-skin-default {
    color: $white;
    background-color: rgba(255,255,255,0.95);
    border-bottom: 1px solid $lightgrey;
    @include box-shadow('0 0 1px rgba(0,0,0,0.15)');
  }

  %sideMenu-skin-default_item {
    color: $grey;
  }

  %sideMenu-skin-default_item_hover {
    color: $black;
  }

  %sideMenu-skin-default_item_link {
    color: $black;
  }

}

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin sideMenu-skin-default($selector) {

  #{$selector} {
    @extend %sideMenu-skin-default;
  }

  #{$selector}_item {
    @extend %sideMenu-skin-default_item;

    a {
      @extend %sideMenu-skin-default_item_link;

      &:hover {
        @extend %sideMenu-skin-default_item_hover;
      }
    }
    
  }
}