$white: #fff;
$darkgrey: #333;
$white: #fff;
$black: #000;
$grey: #999;
$lightgrey: #efefef;
$lightblue: #2ed8f6;
$blue: #231a59;
$brown: #4e3925;
$orange: #ffaa2c;
$shift-distance: 240px;

$title-fonts: "Open Sans", Futura, Helvetica, sans-serif;