$white: #fff;
$darkgrey: #333;
$white: #fff;
$black: #000;
$deepgrey: #666;
$grey: #999;
$lightgrey: #efefef;
$green: hsl(120,30%,60%);
$shift-distance: 240px;
$red: #ff3333;

$fast: 100ms;
$medium: 300ms;
$slow: 700ms;

$title-fonts: "Open Sans", Futura, Helvetica, sans-serif;
$content-fonts: "Slabo", Georgia, serif;