.content
	.course-header
		.brand-row.row
			.col-70.brand>
				Gain Something
			.col-30
				= link_to '<div class="course-btn">Create new course</div>'.html_safe, new_course_path, class: 'right'
	.banner
		Ads here...

	.course-container
		.courses
			= render 'courses', courses: @courses
		#paginator
			= link_to_next_page @courses, '<div class="btn-large">more courses</div>'.html_safe, remote: true