.new-course
	.brand Gain Something
	= link_to '<div class="course-btn">Create new course</div>'.html_safe, new_course_path
.banner

.course-container
	- @courses.each do |c|
		.course.col-50>
			%a{href: "#{course_path(c.id)}"}
				.title
					= c.name
			.subtitle
				beginner • 7 episodes • Dale Ma