.content
	.brand Gain Something
	.course
		%h1.photoshop Photoshop
		.row
			.col-40
				.snapshot
					%img{src: "http://placehold.it/240x135"}
			.col-60
				%ul.lessons
					%li
						%a{href: "#"}
							Photoshop 101
						.subtitle
							beginner • 7 episodes • Dale Ma
					%li
						%a{href: "#"}
							Photoshop in a nutshell
						.subtitle
							beginner • 12 episodes • Ken Campbell
					%li
						%a{href: "#"}
							Mastering Photoshop
						.subtitle
							intermediate • 13 episodes • Susan Hui
	.course
		%h1.illustrator Illustrator
		.row
			.col-40
				.snapshot
					%img{src: "http://placehold.it/240x135"}
			.col-60
				%ul.lessons
					%li
						%a{href: "#"}
							Illustrator 101
						.subtitle
							beginner • 7 episodes • Dale Ma

					%li
						%a{href: "#"}
							Illustrator for programmers
						.subtitle
							intermediate • 27 episodes • Dale Ma
					%li
						%a{href: "#"}
							Mastering Illustrator
						.subtitle
							master • 17 episodes • Dale Ma