.brand Gain Something

.course
	%h1.blue-bg Photoshop
	%ul
		%li
			Photoshop 101 - 7 episodes
		%li
			Photoshop in a nutshell - 10 episodes
		%li
			Mastering Photoshop - 13 episodes
.course
	%h1.brown-bg Illustrator
	%ul
		%li
			Illustrator 101 - 5 episodes
		%li
			Illustrator for programmers - 5 episodes
		%li
			Mastering Illustrator - 23 episodes