.course-header
	.title
		= @course.name
	= link_to '<div class="course-btn">Edit this course</div>'.html_safe, edit_course_path(@course.id)

.course.row
	.col-100
		= @course.description.html_safe
	- @course.resources.each do |r|
		.row
			.title.col-100
				= link_to r.title, course_resource_path(@course, r)