@import 'base/utils/__utils';

// define component placeholders for component contents (no selector here)
@include importOnce('lightbox') {
  %lightbox {
    position: fixed;
    top: 0;
    left: -9999em;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  %lightbox_player_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 100%;
    // width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    @include transform('translate(0, -40%)', false);
  }

  %lightbox_player {
    /* video height / video width */
    // padding-bottom: 56.2%;
    /* the above value * 0.5 */
    // margin-top: -28.1%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 80%;
    // min-height: 100%;
  }

  %lightbox_player_iframe {
    display: block;
    max-width: 90%;
    margin: auto;
  }

  %lightbox_player_image {
    max-width: 90%;
  }

  %lightbox_display {
    // padding: 0 40px 0 0;
    padding: 10px;
  }

  %lightbox_display_image_container {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 280px;
    padding: 0;
    // margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $lightgrey;;
    margin: auto;
    // text-align: center;
  }

  %lightbox_text_container {
    display: inline-block;
    vertical-align: top;
  }

  %lightbox_title {
    display: block;
    line-height: 140%;
    // padding: 20px 40px 0 40px;
  }

  %lightbox_display_description {
    display: block;
  }

  %lightbox_previous_button {
    position: absolute;
    top: 50%;
    left: -32px;
    margin-top: -40px;
  }

  %lightbox_next_button {
    position: absolute;
    top: 50%;
    right: -32px;
    margin-top: -40px;
  }

  %lightbox_close_button {
    position: absolute;
    top: 0;
    right: -32px;
    font-size: 0.6em;
  }
}

@mixin lightbox($selector, $defaultSkin: true) {

  #{$selector} {
    @extend %lightbox;

    #{$selector}_player_wrapper {
      @extend %lightbox_player_wrapper;

      #{$selector}_previous_button {
        @extend %lightbox_previous_button;
      }

      #{$selector}_next_button {
        @extend %lightbox_next_button; 
      }

      #{$selector}_close_button {
        @extend %lightbox_close_button; 
      }

      #{$selector}_player {
        @extend %lightbox_player;

        iframe { @extend %lightbox_player_iframe; }
        img { @extend %lightbox_player_image; }
      }
    }

    #{$selector}_title {
      @extend %lightbox_title;
    }

    #{$selector}_display {
      @extend %lightbox_display;

      .display_image_container {
        @extend %lightbox_display_image_container;
      }

      #{$selector}_text_container {
        @extend %lightbox_text_container;

        #{$selector}_display_description {
          @extend %lightbox_display_description;
        }
      }
    }

  }

  @if $defaultSkin != false {
    @include lightbox-skin-default($selector);
  }
}

// define component placeholders for component skin (no selector here)
@include importOnce('lightbox-skin-default') {
  %lightbox-skin-default {
    background-color: rgba(0,0,0,0.52);

    a:hover {
      text-decoration: underline;
    }
  }

  %lightbox-skin-default__is_video_display {
    background-color: 0;
    padding: 0;
  }

  %lightbox-skin-default__is_photo_player {
    background-color: $black;
    color: $white;
    padding: 20px;
    width: 320px;
    margin: auto;
  }

  %lightbox-skin-default__is_photo_text_container {
    margin-top: 10px;
  }

  %lightbox-skin-default__is_photo_display {
    padding: 0;
  }

  %lightbox-skin-default__is_photo_title {
    display: none;
  }

  %lightbox-skin-default__is_video_title {
    display: none;
  }

  %lightbox-skin-default__is_error_player {
    background-color: $white;
    padding: 20px;
  }

  %lightbox-skin-default__is_text_player {
    background-color: $white;
    padding: 20px;
  }

  %lightbox-skin-default__is_text_title {
    padding: 0;
    margin: 20px 0 40px 0;
  }

  %lightbox-skin-default__is_text_title__is_title_only {
    font-size: 4em;
    line-height: 140%;
    text-align: center;
    margin: 0;
  }

  %lightbox-skin-default__is_text_display {
    padding: 0;
  }

  %lightbox-skin-default__is_link_player {
    background-color: $white;

    #lightbox_left_container {
      display: inline-block;
      width: 280px;
    }

    #lightbox_text_container {
      display: inline-block;
      width: 60%;
      padding: 0 20px;

      h1 { margin: 0 0 10px 0; }
    }
  }

  %lightbox-skin-default__is_link_player__has_no_thumbnail {
    background-color: $white;

    #lightbox_text_container {
      display: block;
      width: 100%;
    }
  }

  %lightbox-skin-default__is_rich_player {
    background-color: $black;
    padding: 20px;
  }

  %lightbox-skin-default__is_rich_title {
    color: $white;
    a {
      color: $white;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin lightbox-skin-default($selector) {

  #{$selector} {
    @extend %lightbox-skin-default;

    &._is_photo {
      #{$selector}_player {
        @extend %lightbox-skin-default__is_photo_player;
      }

      #{$selector}_display {
        @extend %lightbox-skin-default__is_photo_display;
      }

      #{$selector}_title {
        @extend %lightbox-skin-default__is_photo_title;
      }

      #{$selector}_text_container {
        @extend %lightbox-skin-default__is_photo_text_container;
      }
    }

    &._has_no_description._is_photo #{$selector}_player {

    }

    &._is_video {
      #{$selector}_display {
        @extend %lightbox-skin-default__is_video_display;
      }

      #{$selector}_title {
        @extend %lightbox-skin-default__is_video_title;
      }
    }

    &._is_rich {
      #{$selector}_player {
        @extend %lightbox-skin-default__is_rich_player;
      }

      #{$selector}_title {
        @extend %lightbox-skin-default__is_rich_title;
      }
    }

    &._is_text {
      #{$selector}_player {
        @extend %lightbox-skin-default__is_text_player;
      }

      #{$selector}_display {
        @extend %lightbox-skin-default__is_text_display;
      }

      #{$selector}_title {
        @extend %lightbox-skin-default__is_text_title;
      }
    }

    &._has_no_description._is_text #{$selector}_title {
      @extend %lightbox-skin-default__is_text_title__is_title_only;
    }

    &._is_link {
      #{$selector}_player {
        @extend %lightbox-skin-default__is_link_player;
      }
    }

    &._is_error {
      #{$selector}_player {
        @extend %lightbox-skin-default__is_error_player;
      }
    }
  }
}