@mixin btn($width:60px) {
	color: $darkgrey;
	width: $width;
	border: 1px solid $darkgrey;
	opacity: 0.3;
	display: inline-block;
	font-size: 0.6em;
	text-align: center;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	&:hover {
		opacity: 1;
	}
}

.btn-normal {
	@include btn;
	padding: 5px 15px;
}

.btn-large {
	@include btn(100px);
	padding: 5px 15px;
}

.btn-big {
	@include btn(120px);
	line-height: 2em;
	padding: 5px 15px;	
}

.resource-btn {
	@include btn(60px);
	margin: 10px 10px 10px 0;
	padding: 0 5px;
}

.delete-btn-large {
	@include btn(20px);
	padding: 10px;
	font-size: 0.8em;
}

.course-btn {
	@include btn(180px);
	padding: 10px;
	font-size: 0.8em;
}

.btn-difficulty.selected {
	background-color: $darkgrey;
	color: $white;
}