@mixin codemirror {
	// font-family: $content-fonts;
	min-height: 480px;
	margin: 10px 0 20px 0;
}

.CodeMirror {
	@include codemirror
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror pre {
  padding: 0;
  line-height: 1.4em;
}

.CodeMirror-activeline-background {
	background-color: $white;
	border-bottom: 1px solid $lightgrey;
}

.CodeMirror-empty {
	color: $lightgrey;
}