.course-container {
	width: 100%;
	padding: 40px 0;
}

.course-header {
	.title {
		margin-top: 20px;
		font-size: 1.8em;
		line-height: 140%;
	}
}

.course {
	display: inline-block;
	width: 100%;
	min-height: 60px;
	margin-bottom: 1em;
	vertical-align: top;
}

.course .subtitle {
	color: $grey;
	font-size: 0.6em;
	margin-top: -2px;

	a, a:hover {
		color: $grey;
	}
}

.course .description {
	color: $grey;
}

.document {
	height: 140%;
	line-height: 140%;
	margin: 0;
	.icon {
		width: 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		cursor: default;
		font-family: $content-fonts;
	}

	.title {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: clip;
	}
}

.document .description {
	margin-bottom: 40px;
	font-family: $content-fonts;
	color: $deepgrey;
}

.document-buttons {
	height: 2em;
	line-height: 1.5em;
	margin: 2em 0;
}

body.unsaved .edit_course {
	border: 1px solid red;
}