.course {
	display: inline-block;
	width: 100%;
}

.course-btn {
	display: inline-block;
	float: right;
	padding: 10px;
	color: $black;
	border: 1px solid $black;
	opacity: 0.3;
	font-size: 0.8em;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	@include transition-property(opacity);
	@include transition-duration(150ms);

	&:hover {
		opacity: 1;
	}
}

.course h1 {
	padding: 0.5em;
}

.lessons {
	list-style-type: none;
}

.lessons li {
	margin-bottom: 1em;
}

.lessons .subtitle {
	color: $grey;
	font-size: 0.6em;
	margin-top: -2px;
}

.photoshop {
	color: $lightblue;
	background-color: $blue;
}

.illustrator {
	color: $orange;
	background-color: $brown;
}

.document {
	height: 2em;
	line-height: 2em;
	margin: 0;
	.icon {
		width: 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
	}
}

.document-buttons {
	height: 2em;
	line-height: 1.5em;
	margin: 2em 0;
}