.content {
	width: 720px;
	margin: auto;
	padding: 20px;
}

.course {
	display: inline-block;
	width: 100%;
}

.course-btn {
	display: inline-block;
	float: right;
	padding: 10px;
	color: $black;
	border: 1px solid $black;
	opacity: 0.3;
	font-size: 0.8em;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	@include transition-property(opacity);
	@include transition-duration(150ms);

	&:hover {
		opacity: 1;
	}
}

.course h1 {
	padding: 0.5em;
}

.lessons {
	list-style-type: none;
}

.lessons li {
	margin-bottom: 1em;
}

.lessons .subtitle {
	color: $grey;
	font-size: 0.6em;
	margin-top: -2px;
}

.photoshop {
	color: $lightblue;
	background-color: $blue;
}

.illustrator {
	color: $orange;
	background-color: $brown;
}

.row {

}

.row > * {
	float: left;
}

.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-30 { width: 30%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-70 { width: 70%; }
.col-80 { width: 80%; }
.col-90 { width: 90%; }
.col-100 { width: 100%; }