body.landings #main {
	background-image: image_url('skytree.jpg');
	background-size: 100% 100%;

	.brand {
		position: relative;
		top: 40%;
		margin: auto;
		line-height: 80px;
		font-size: 4em;
		color: $white;
		text-shadow: 0 0 3px $blue;
		text-align: center;
		text-indent: 0.2em;
		letter-spacing: 0.2em;
	}
}