.users\/sessions #menu,
.users\/sessions .menu-btn {
	display: none;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	min-height: 100%;
	color: $white;
	background-color: $darkgrey;
	z-index: 0;
}

#menu .scrollable {
	display: none;
	width: 240px;
}

#menu li {
	padding: 5px 25px;
}

.siteMenuOpened #menu .scrollable {
	display: block;
}

#menu a {
	color: $white;
}