.show .document {
	width: 100%;
}

#resources .title {
	font-size: 1.8em;
	line-height: 140%;
	padding: 40px 0 0 0;
}

#resources .description {
	font-size: 0.8em;
	padding: 10px 0;
	font-family: $content-fonts;
}

#resources .embed > iframe {
	display: block;
	margin: auto;
	padding-top: 20px;
}

.back {
	font-size: 0.6em;
}

.new_resource {
	padding-top: 60px;
}