@import 'base/utils/__utils';

// define component placeholders for component contents (no selector here)
@include importOnce('resourceList') {
  %resourceList {
    padding-top: 20px;
  }

  %resourceList__hovered_tools {
    opacity: 1;
  }

  %resourceList_item {
    padding-bottom: 20px;
  }

  %resourceList_title {
    vertical-align: middle;
    overflow: hidden;
    line-height: 160%;
  }

  %resourceList_title_show__is_editable {
    display: none;
  }

  %resourceList_title_edit {
    display: none;
  }

  %resourceList_title_edit__is_editable {
    display: block;
  }

  %resourceList_tools {
    opacity: 0;
    vertical-align: top;
  }

  %resourceList_tools_link {
    margin-left: 15px;
  }

  %resourceList_preview {
    padding-bottom: 0;
  }

  %resourceList_preview_digest {
    width: 100%;
    line-height: 160%;
    white-space: normal;
    a, a:hover { color: $black; }
  }

  %resourceList_preview_thumbnails {
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    padding-right: 10px;
  }

  %resourceList_preview_thumbnails_thumb {
    display: inline-block;
    width: 100%;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $lightgrey;
    border-radius: 3px;
  }

  %resourceList_bottomTools {
    opacity: 0;
    font-size: 0.8em;
    color: $grey;
  }

}

@mixin resourceList($selector, $defaultSkin: true) {

  #{$selector} {
    @extend %resourceList;

    #{$selector}_item {
      @extend %resourceList_item;      
    }

    #{$selector}_item:hover #{$selector}_tools {
      @extend %resourceList__hovered_tools;
    }

    #{$selector}_title {
      @extend %resourceList_title;

      #{$selector}_title_edit {
        @extend %resourceList_title_edit;
      }
    }

    #{$selector}_tools {
      @extend %resourceList_tools;
    }

    #{$selector}_preview {
      @extend %resourceList_preview;

      #{$selector}_preview_digest {
        @extend %resourceList_preview_digest;
      }

      #{$selector}_preview_thumbnails {
        @extend %resourceList_preview_thumbnails;

        #{$selector}_preview_thumbnails_thumb {
          @extend %resourceList_preview_thumbnails_thumb;
        }
      }
    }

    ._is_editable #{$selector}_title_show {
      @extend %resourceList_title_show__is_editable;
    }

    ._is_editable #{$selector}_title_edit {
      @extend %resourceList_title_edit__is_editable;
    }

    #{$selector}_item:hover #{$selector}_bottomTools {
      @extend %resourceList__hovered_tools;
    }

    #{$selector}_bottomTools {
      @extend %resourceList_bottomTools;
    }
    
  }

  @if $defaultSkin != false {
    @include resourceList-skin-default($selector);
  }
}

// define component placeholders for component skin (no selector here)
@include importOnce('resourceList-skin-default') {
  %resourceList-skin-default {
    background-color: $white;
  }

  %resourceList-skin-default_item {
    background-color: rgba(255,255,255,0.8);
  }

  %resourceList-skin-default_item__drag {
    @include box-shadow("0 0 3px 0 #{$black}", '', false);
  }

  %resourceList-skin-default_title {
    font-weight: 900;
  }

  %resourceList-skin-default_title_edit {
    form {
      margin: 0;
    }

    input {
      background-color: $lightblue;
      font-size: 1rem;
      padding: 2px 4px;
    }

    & > div {
      display: inline-block;
    }

    .tip {
      color: $grey;
      font-size: 0.4em;
      text-align: center;
      vertical-align: middle;
    }
  }

  %resourceList-skin-default_tools_link {
    color: $grey;
  }

  %resourceList-skin-default_tools_link__hovered {
    color: $black;
  }

  %resourceList-skin-default_preview_digest {
    font-family: $title-fonts;
    font-size: 0.8em;
    font-weight: 100;
    color: $black;
  }

}

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin resourceList-skin-default($selector) {

  #{$selector} {
    @extend %resourceList-skin-default;

    #{$selector}_item {
      @extend %resourceList-skin-default_item;
      &.ui-sortable-helper {
        @extend %resourceList-skin-default_item__drag;
        .resourceList_bottomTools, .resourceList_tools { opacity: 0; }
      }
    }

    #{$selector}_preview {
      #{$selector}_preview_digest {
        @extend %resourceList-skin-default_preview_digest;
      }
    }
  }

  #{$selector}_title {
    @extend %resourceList-skin-default_title;

    #{$selector}_title_edit {
      @extend %resourceList-skin-default_title_edit;
    }
  }

  #{$selector}_tools_link {
    @extend %resourceList-skin-default_tools_link;

    &:hover {
      @extend %resourceList-skin-default_tools_link__hovered;
    }
  }
}