@include rectangleButton('.btn-small', 60px, 0.6em);
@include rectangleButton('.btn-normal', 120px, 1em);
@include flexibleButton('.btn-large');
@include squareButton('.btn-square', 20px);

.btn-square {
  margin-top: 0;  
  padding-top: 0;
}

.btn-delete {
  &:hover {
    color: $red;
    border-color: $red;
  }
}

.btn-publish {
  &:hover {
    color: $green;
    border-color: $green;
  }
}

.btn-menu {
  position: absolute;
  top: 1.428em;
  left: 2.857em;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #333;
  z-index: 90;
  cursor: pointer;
  color: $white;
  text-align: center;

  &:before {
    content: '☰';
  }
}

.btn-close {
  text-align: center;
  position: absolute;
  top: 0;
  right: -40px;

  i {
    color: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    line-height: 26px;
    text-indent: 2px;

    &:hover {
      color: $active-color;
      border-color: $active-color;
    }
  }
}