@include rectangleButton('.btn-small', 80px, 0.6em);
@include rectangleButton('.btn-normal', 120px, 1em);
@include flexibleButton('.btn-large');
@include squareButton('.btn-square', 20px);
@include iconButton('.btn-icon');
@include editorButton('.btn-editor');
@include resourceButton('.btn-resource');
@include roundButton('.btn-round', 2em, false);

.btn-square {
  margin-top: 0;  
  padding-top: 0;
}

.btn-delete {
  position: relative;
  z-index: 10;
  color: $grey;

  &:hover {
    color: $red;
    border-color: $red;
  }
}

.btn-success {
  position: relative;
  z-index: 10;
  
  &:hover {
    color: $green;
    border-color: $green;
  }
}

.btn-error {
  position: relative;
  z-index: 10;
  
  &:hover {
    color: $red;
    border-color: $red;
  } 
}