.collection-container {
  width: 100%;
  padding: 40px 0;
}

.collection-header {
  .title {
    font-size: 1.8em;
    line-height: 140%;
    font-family: $title-fonts;
  }
}

.collection {
  display: inline-block;
  width: 100%;
  min-height: 60px;
  margin-bottom: 1em;
  vertical-align: top;
}

.collection .subtitle {
  color: $grey;
  font-size: 0.6em;
  margin-top: -2px;

  a, a:hover {
    color: $grey;
  }
}

.collection-description {
  color: $grey;
  font-family: $content-fonts;
}

.document {
  height: 140%;
  line-height: 140%;
  margin: 0;
  .icon {
    width: 2em;
    height: 2em;
    text-align: left;
    cursor: default;
    font-family: $content-fonts;
  }

  .title {
    vertical-align: top;
    padding-bottom: 10px;
    overflow: hidden;
  }
}

.document .description {
  margin-bottom: 40px;
  font-family: $content-fonts;
  color: $deepgrey;
}

.document-buttons {
  line-height: 1.5em;
  margin: 2em 0 0 0;
}

.saved-icon {
  display: none;
  position: absolute;
  top: 5px;
  left: -25px;
  font-size: 20px;
  color: $green;
}

.saved .saved-icon {
  display: block;
}

#editor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toolbar {
  margin-top: 20px;
}

.toolbar .spacer {
  display: inline-block;
  width: 20px;
}

#markdown-preview {
  @include codemirror;
  margin-top: -4px;
  display: none;
}

body.preview-mode {

  #markdown-preview {
    display: block;
    min-height: 480px;
  } 

  #preview-btn {
    color: $green;
    border-color: $green;
    opacity: 1 !important;
  }

  .CodeMirror {
    display: none;
  }

  .btn-edit {
    opacity: 0;
    pointer-events: none;
  }
}

.brand {
  font-size: 18px;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.brand-row {
  padding-bottom: 20px;
}

.banner {
  color: $white;
  text-align: center;
  font-size: 3em;
  width: 100%;
  height: 200px;
  line-height: 200px;
  background-color: $blue;
}

body.landings #main {
  background-image: image_url('skytree.jpg');
  background-size: 100% 100%;

  .brand {
    position: relative;
    top: 40%;
    margin: auto;
    line-height: 80px;
    font-size: 4em;
    color: $white;
    text-shadow: 0 0 3px $black;
    text-align: center;
    text-indent: 0.2em;
    letter-spacing: 0.2em;
  }
}

.show .document {
  width: 100%;
}

#resources .title {
  font-size: 1.8em;
  line-height: 140%;
  padding: 40px 0 0 0;
}

#resources .description {
  font-size: 0.8em;
  padding: 10px 0;
  font-family: $content-fonts;
}

#resources .embed {
  padding: 40px 0;
}

#resources .embed > iframe {
  display: block;
  margin: auto;
}

.back {
  font-size: 0.6em;
}

.new_resource {
  padding-top: 60px;
}

.submission {
    padding: 20px 0;
}