.collection-container {
  width: 100%;
  padding: 40px 0;
}

.collection-header {
  .title {
    font-size: 1.8em;
    line-height: 140%;
    font-family: $title-fonts;
    font-weight: 900;
  }
}

.collection {
  display: inline-block;
  width: 100%;
  min-height: 60px;
  margin-bottom: 1em;
  vertical-align: top;
  padding-right: 10px;
}

.collection_title {
  font-weight: 900;
}

.collections_empty {
  color: $grey;
  font-size: 1.6em;
  line-height: 140%;
}

.collection .subtitle {
  color: $grey;
  font-size: 0.6em;
  margin-top: -2px;
  font-weight: 100;

  a, a:hover {
    color: $grey;
  }
}

.collection_subtitle_description {
  padding-top: 3px;
  font-size: 0.8rem;
  line-height: 120%;
  color: $grey;
  font-family: $title-fonts;
  font-weight: 100;

  a, a:hover {
    font-weight: 100;
    color: $black !important;
  }
}

.collection_description {
  padding: 0 0.09em;
  font-weight: 100;

  input {
    font-weight: 100;
  }
}

.icon {
  width: 2em;
  height: 2em;
  text-align: left;
  cursor: default;
  font-family: $content-fonts;
}

.document {
  height: 140%;
  line-height: 140%;
  margin: 0;

  .title {
    vertical-align: top;
    padding-bottom: 10px;
    overflow: hidden;
  }
}

.document .description {
  margin-bottom: 40px;
  font-family: $content-fonts;
  color: $deepgrey;
}

.document-buttons {
  line-height: 1.5em;
  margin: 2em 0 0 0;
}

.saved-icon {
  display: none;
  position: absolute;
  top: 5px;
  left: -25px;
  font-size: 20px;
  color: $green;
}

.saved .saved-icon {
  display: block;
}

#editor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toolbar {
  margin-top: 20px;
}

.toolbar .spacer {
  display: inline-block;
  width: 20px;
}

#markdown-preview {
  @include codemirror;
  margin-top: -4px;
  display: none;
}

body.preview-mode {

  #markdown-preview {
    display: block;
    min-height: 480px;
  } 

  #preview-btn {
    color: $green;
    border-color: $green;
    opacity: 1 !important;
  }

  .CodeMirror {
    display: none;
  }

  .btn-edit {
    opacity: 0;
    pointer-events: none;
  }
}

.brand {
  font-size: 18px;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.brand-row {
  padding-bottom: 20px;
}

.banner {
  color: $white;
  text-align: center;
  font-size: 3em;
  width: 100%;
  height: 200px;
  line-height: 200px;
  background-color: $blue;
}

body.landings #main {
  background-image: image_url('skytree.jpg');
  background-size: 100% 100%;

  .brand {
    position: relative;
    top: 40%;
    margin: auto;
    line-height: 80px;
    font-size: 4em;
    color: $white;
    text-shadow: 0 0 3px $black;
    text-align: center;
    text-indent: 0.2em;
    letter-spacing: 0.2em;
  }
}

.show .document {
  width: 100%;
}

#resources .title {
  font-size: 1.8em;
  line-height: 140%;
  padding: 40px 0 0 0;
}

#resources .description {
  font-size: 0.8em;
  padding: 10px 0;
  font-family: $content-fonts;
}

#resources .embed {
  padding: 40px 0;
  line-height: 160%;
}

#resources .embed > iframe {
  display: block;
  margin: auto;
}

.embed img {
  max-width: 100%;
}

.back {
  font-size: 0.6em;
}

._is_public .collection_is_private_visibility {
  display: none;
}

._is_private .collection_is_public_visibility {
  display: none;
}

.visibility {
  vertical-align: text-bottom;
}

.animation-icon-before {
  transform-origin: 0 0;
  @include transition("opacity #{$fast} ease-out", false);
}

.draggable:hover .animation-icon-before {
  opacity: 0;
}

.animation-icon-after {
  opacity: 0;
  @include transition("opacity #{$fast} ease-in", false);
}

.draggable:hover .animation-icon-after {
  opacity: 1;
}

//collections

.collection_thumbnails {
  margin: 10px 0;
  @include transition("opacity 0.6s 0.6s ease-in", false); 
}

.collection_thumbnail {
  display: inline-block;
  background-size: cover;
  background-color: $lightgrey;
  width: 48px;
  height: 48px;
}

._is_preloading .collection_thumbnails {
  opacity: 0;
}

.collection_title {
  @include transition("opacity 200ms 200ms ease-out, -webkit-transform 200ms 200ms ease-out", false);
}

._is_preloading .collection_title {
  opacity: 0;
  @include transform("scale(1.2)");
}

._is_preloading .collections {
  opacity: 0; 
  @include transform('translateY(-120px)');
}

.collections {
  @include transition("all 200ms ease-out", false); 
}

.brand {
  @include transition("all 200ms 1200ms ease-out", false);  
}

._is_preloading .brand {
  opacity: 0;
}

.resourceList {
  @include transition("all 600ms 200ms ease-out", false);
}

._is_preloading .resourceList {
  opacity: 0;
}

.fa-close {
  font-weight: 100;
}

._is_lightbox_mode #lightbox {
  @include transform('scale(1)');
  opacity: 1;
}


.lightbox_player {
  background-color: $white;
  padding: 40px;
  min-height: 80%;

  img {
    margin: 20px 0;
    display: block;
  }
}

.lightbox_player_title {
  margin-top: 0;
  line-height: 140%;
}

.lightbox_player_subtitle {
  margin-top: 0;
  line-height: 140%;
  font-size: 0.6rem;

  a {
    color: $blue;
  }

  a:hover {
    text-decoration: underline;
  }
}

.lightbox_player_html {
  margin: 10px 0;

  a{
    text-decoration: underline;
  }
  a:hover {
   text-decoration: none; 
  }
}

._is_title_only .lightbox_player_title {
  font-size: 4em;
  text-align: center;
}

.lightbox_loader {
  height: 100%;
}

#navbar_back {
  .fa {
    @include transition('all 300ms');
  }
  &:hover .fa {
    @include transform('scaleX(1.1) translateX(-3px)');
  }
}

.resourceList_newElement {
  position: relative;
  height: 40px;
  max-height: 40px;
}

.btn-new-element {
  position: absolute;
  left: 0;
  opacity: 0;
  @include transition('all 300ms');
}

._is_adding_element .btn-new-element {
  @include transform('rotate(45deg)');
  opacity: 1;
}

.resourceList_creationTools {
  overflow: hidden;
  // background-color: $green;
  @include transition('height 100ms');
  margin: 0 0 20px 0;
}

.resourceList_detectingArea {
  position: absolute;
  top: 0;
  left: -20%;
  width: 120%;
  height: 40px;

  &:hover + .row > .icon-column > .btn-new-element{
    opacity: 1;
  }
}
.resourceList_newElement_row {
  @include transition('all 300ms');
  margin: 5px;
}

.btn-item {
  pointer-events: none;
  opacity: 0;
}

._is_adding_element .btn-item {
  pointer-events: default;
  opacity: 1;
}

._is_adding_element .collection_cerateByUrlForm {
  display: block;
}

.collection_cerateByUrlForm {
  display: none;
  border-radius: 3px;
  input {
    width: 40%;
    border: 1px solid $lightgrey;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 0.9em;
  }
  label {
    font-size: 0.6em;
    color: $grey;
  }
}

.resourceList_header {
  .resourceList_title_show{
    padding: 10px 0;
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
    text-align: center;
    letter-spacing: 2px;
  }
}

._is_dragging {
  height: 180px;
  width: 100%;
  border: 1px dashed $grey;
  background-color: $lightgrey;
}