body._is_lightbox_mode {
  overflow: hidden;
}

.content {
  width: 720px;
  margin: auto;
  padding: 60px 0;
  min-height: 720px;
}

.single-col {
  width: 720px;
  margin: auto;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 1;
  @include transition("transform #{$fast} cubic-bezier(.2, .3, .25, .9)", false);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

._is_confirmation #overlay{
  display: block;
  background-color: rgba(0,0,0,0.67);
}

.row {
  width: 100%;
}

.row > * {
  display: inline-block;
}

.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-30 { width: 30%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-70 { width: 70%; }
.col-80 { width: 80%; }
.col-90 { width: 90%; }
.col-100 { width: 100%; }
.icon-column {
  vertical-align: top;
  display: inline-block;
  width: 48px;
}

.right {
  float: right;
}

.toolbar .btn-normal {
  margin: 0 10px;
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0;
}

.inline-block {
  display: inline-block;
}

@mixin loginForm {
  input {
    max-width: 240px;
    border: 1px solid $grey;
    border-radius: 3px;
    margin: 8px 0;
    padding: 4px 8px;
  }

  input[type=text], input[type=password], input[type=email] {
    height: 1.8em;
  }
}

[id^=users] .content {
  width: 40%;
}

[id^=users] form {
  @include loginForm;
}

.deviseLinks {
  width: 100%;
  border-top: 1px solid $lightgrey;
  margin-top: 40px;

  a {
    display: inline-block;
    margin: 5px 20px 0 0;
    font-size: 0.8em;
    color: $grey;
  }
}

.hide {
  display: none;
}