body.present {
  overflow: hidden;
}

.content {
  width: 720px;
  margin: auto;
  padding: 20px;
  min-height: 720px;
}

.single-col {
  width: 720px;
  margin: auto;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 1;
  @include transition-property(transform);
  @include transition-duration(150ms);
  @include transition-timing-function(cubic-bezier(.2, .3, .25, .9));
}

#main .menu-btn {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 32px;
  height: 32px;
  background-color: #333;
  z-index: 90;
  cursor: pointer;
}

.siteMenuOpened #main {
  @include translate($shift-distance, 0, 0);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.siteMenuOpened #overlay {
  @include translate($shift-distance, 0, 0);
  display: block;
}

.row {
  width: 100%;
}

.row > * {
  display: inline-block;
  vertical-align: middle;
}

.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-30 { width: 30%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-70 { width: 70%; }
.col-80 { width: 80%; }
.col-90 { width: 90%; }
.col-100 { width: 100%; }
.icon-column {
  width: 48px;
}

.right {
  float: right;
}

.toolbar .btn-normal {
  margin: 0 10px;
}

.hidden {
  display: none;
}

#lightbox {
  position: fixed;
  top: 0;
  left: -9999em;
  background-color: rgba(0,0,0,0.52);
  width: 100%;
  height: 100%;
  z-index: 9999;

  .player {
    position: absolute;
    left: 0; right: 0;
    top: 50%;
    /* video height / video width */
    padding-bottom: 56.2%;
    /* the above value * 0.5 */
    margin-top: -28.1%;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    width: 1024px;

    iframe, img {
      display: block;
      max-width: 1024px;
      margin: auto;
    }
  }
}

#lightbox.video .display {
  background-color: $black;
}

#lightbox.photo .display {
  background-color: $black;
}

#lightbox.photo .title {
  display: none;
}

#lightbox.video .title {
  display: none;
}

#lightbox.error .player {
  background-color: $white;
  min-height: 100%;
}

#lightbox.text .player {
  background-color: $white;
  min-height: 100%;
}

#lightbox.link .player {
  background-color: $white;
  min-height: 100%;
}

#lightbox .title {
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
}

#lightbox .display {
  padding-left: 20px;
  padding-right: 20px;
}

.present #lightbox {
  left: 0;
}

.no-margin {
  margin: 0;
}