.users\/sessions #menu,
.users\/sessions .btn-menu {
  display: none;
}

#menu .scrollable {
  display: none;
  width: 240px;
}

._siteMenu_is_open #menu .scrollable {
  display: block;
}

._siteMenu_is_open #main {
  @include transform("translate(#{$shift-distance})", false);
}

._siteMenu_is_open #overlay {
  @include transform("translate(#{$shift-distance})", false);
  display: block;
}

@include sideMenu('.sideMenu');